<h2>Admin Menu Editor</h2>

<a asp-controller="AdminMenu" asp-action="CreateCategory" class="btn btn-primary">Add Category</a>
<a asp-controller="AdminMenu" asp-action="CreateDish" class="btn btn-success">Add Dish</a>
